{
  "tabWidth": 2,
  "semi": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "trailingComma": "es5",
  "singleQuote": true
}
